
.land{
    padding: 7%;
}

.center-h1{
    text-align: center;
}

.land-row{
    padding: 3%;
}

.home-head{
    text-align: center;
}

.up{
    padding: 5%;
}

.post-img{
    width: 200px;
    height: 300px;
}

.cent{

    margin-top: 5%;
}
